# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
dist/
build/

# SIESTA heavy binary density matrices & temporary scratch logs
examples/**/*.DM
examples/**/*.alloc
examples/**/*.ORB_INDX
examples/**/*.ion
examples/**/*.ion.xml
examples/**/*.STRUCT_OUT
examples/**/*.XV
examples/**/INPUT_TMP.*
examples/**/fdf.*.log

# System & OS
.DS_Store
Thumbs.db
